{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Data burger</h4>
            <a href="{% url 'add_burger' %}" type="button" class="btn btn-gradient-primary btn-lg btn-block">
                <i class="mdi mdi-plus"></i> Add burger </a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Id </th>
                        <th> Nama burger </th>
                        <th> Deskripsi </th>
                        <th> Harga </th>
                        <th> Aksi </th>
                    </tr>
                </thead>
                <tbody>
                    {% for burger in burgers %}
                    <tr>
                        <td class="py-1">
                            {{ forloop.counter }}
                        </td>
                        <td> {{ burger.nama }}</td>
                        <td>
                            {{ burger.deskripsi }}
                        </td>
                        <td> Rp.{{ burger.harga }} </td>
                        <td>
                            {% if is_owner %}
                            <form class="flex-column d-flex  gap-3" method="POST" action="{% url 'delete_burger' burger.pk %}"  onsubmit="return confirmDelete()"> 
                                {% csrf_token %}
                                <button type="submit"  class="btn btn-gradient-danger btn-icon-text"><i class="mdi mdi-delete"></i>delete</button>
                                <a href="{% url 'update_burger' burger.pk %}"  class="btn btn-gradient-info btn-icon-text"><i class="mdi mdi-table-edit"></i>Edit</a>
                            </form>
                            {% else %}
                            <a href="{% url 'update_burger' burger.pk %}"  class="btn btn-gradient-info btn-icon-text"><i class="mdi mdi-table-edit"></i>Edit</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete?");
    }
</script>
{% endblock %}