{% extends 'base.html' %}
{% block content %}
    <h1>Nota Transaksi</h1>
    <p>Nomor Pesanan: {{ order.id }}</p>
    <p>Nama Pelanggan: {{ order.pelanggan.nama }}</p>
    <p>Tanggal: {{ order.tanggal_pemesanan }}</p>
    <table>
        <thead>
            <tr>
                <th>Burger</th>
                <th>Jumlah</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for detail in details %}
            <tr>
                <td>{{ detail.burger.nama }}</td>
                <td>{{ detail.jumlah }}</td>
                <td>{{ detail.subtotal }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Total Harga: Rp{{ order.total_harga }}</p>
    <p>Status Pembayaran: {{ order.status_pembayaran|yesno:"Lunas,Belum Lunas" }}</p>
{% endblock %}

