{% extends "base.html" %}
{% block content %}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Laporan Pemasukan Burgers Fun n Bun</h4>
            <p class="card-description">Pilih rentang tanggal untuk melihat laporan pemasukan burger Anda</p>
            <!-- Form untuk memilih range tanggal -->
            <form method="POST" class="forms-sample">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="tanggal_mulai" class="col-sm-3 col-form-label">Tanggal Mulai</label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" id="tanggal_mulai" name="tanggal_mulai" value="{{ tanggal_mulai|date:'Y-m-d' }}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tanggal_akhir" class="col-sm-3 col-form-label">Tanggal Akhir</label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" id="tanggal_akhir" name="tanggal_akhir" value="{{ tanggal_akhir|date:'Y-m-d' }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info"><i class="mdi mdi-book align-middle"></i>Tampilkan Laporan</button>
                    <a href="{% url 'pemesanan' %}" class="btn btn-dark me-1"><i class="mdi mdi-keyboard-backspace align-middle"></i>Kembali Ke Read Pemesanan</a>

                </div>
            </form>
            <!-- Replace Table Sections -->
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead style="background-color: rgb(216, 216, 216)">
                        <tr>
                            <th>Burger ID</th>
                            <th>Total Pemasukan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in bis_pemasukan.items %}
                        <tr>
                            <td>{{ key }}</td>
                            <td>Rp.{{ value.total_pemasukan }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h5 class="text-right">Grand Total Pemasukan: Rp {{ grand_total_pemasukan }}</h5>

            <!-- Add-ons Section -->
            <h5 class="card-title">Total Setiap Layanan Tambahan yang Dipilih</h5>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead style="background-color: rgb(216, 216, 216)">
                        <tr>
                            <th>Layanan Tambahan</th>
                            <th>Total Dipilih</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for layanan, total in total_layanan_tambahan.items %}
                        <tr>
                            <td>{{ layanan }}</td>
                            <td>{{ total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Meal Classes Section -->
            <h5 class="card-title">Total Setiap Kelas Layanan yang Dipilih</h5>
            <div class="table-responsive">
                <table class="table table-bordered text-center">
                    <thead style="background-color: rgb(216, 216, 216)">
                        <tr>
                            <th>Kategori Menu</th>
                            <th>Total Dipilih</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for kelas, total in total_kelas_layanan.items %}
                        <tr>
                            <td>{{ kelas }}</td>
                            <td>{{ total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
{% if tanggal_mulai and tanggal_akhir %}
<form action="{% url 'view_laporan' %}" method="POST" target="_blank">
    {% csrf_token %}
    <input type="hidden" name="tanggal_mulai" value="{{ tanggal_mulai|date:'Y-m-d' }}">
    <input type="hidden" name="tanggal_akhir" value="{{ tanggal_akhir|date:'Y-m-d' }}">
    <button type="submit" class="btn btn-success"><i class="mdi mdi-file-pdf align-middle"></i>Ekspor ke PDF</button>
</form>
{% endif %}
{% endblock content %}