{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Add pemesanan</h4>
        <form class="forms-sample" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nama" class="form-label">Nama</label>
                <select id="nama" name="nama" class="form-select">
                    {% for pelanggan in pelanggans %}
                    <option value="{{ pelanggan.nama_pelanggan }}" {% if pelanggan == pemesanan.pelanggan %}selected{% endif %}>{{ pelanggan.nama_pelanggan }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="pesanan" class="form-label">Pesanan</label>
                <select id="pesanan" name="pesanan" class="form-select" multiple>
                    {% for burger in burgers %}
                    <option value="{{ burger.id }}" {% if burger in selected_burgers %}selected{% endif %}>{{ burger.nama }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="status_pembayaran">Status Pembayaran:</label>
                <input type="checkbox" name="status_pembayaran" id="status_pembayaran" {% if pemesanan.status_pembayaran %}checked{% endif %}>
                
            </div>
            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
            <a class="btn btn-light" href="{% url 'pemesanan' %}" onclick="return confirmCancel()">Cancel</a>
        </form>
    </div>
</div>
</div>
<script>
    function confirmCancel() {
        return confirm("Are you sure you want to cancel? Your changes will be lost! Take a moment to review your updates.");
    }
</script>
{% endblock %}