{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Detail Pemesanan</h4>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> Id </th>
                        <th> Id Pemesanan </th>
                        <th> Id Pelanggan </th>
                        <th> Nama Pelanggan </th>
                        <th> Pemesanan </th>
                        <th> Aksi </th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in details %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ detail.pemesanan.id }}</td>
                        <td>{{ detail.pemesanan.pelanggan.id }} </td>
                        <td>{{ detail.pemesanan.pelanggan.nama_pelanggan }} </td>
                        <td>
                            {%  for burger in detail.pemesanan.burger.all %}
                            <span class="badge bg-secondary">{{ burger.nama }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            {% if is_owner %}
                            <a href="{% url 'detail_pemesanan_view' detail.pk %}" class="btn btn-primary btn-sm" >Print Nota</a>
                            <a href="{% url 'update_detail' detail.pk %}" class="btn btn-warning btn-sm">Edit</a>
                            <form action="{% url 'delete_detail' detail.pk %}" method="post"
                                style="display:inline;">
                                {% csrf_token %}
                                <button class="btn btn-danger btn-sm" type="submit"
                                    onclick="return confirm('Hapus detail?')">Hapus</button>
                            </form>
                            {% else %}
                            <a href="{% url 'update_detail' detail.pk %}" class="btn btn-warning btn-sm">Edit</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Area Nota untuk Cetak -->
           
            
        </div>
    </div>
</div>
<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete?");
    }

    function printNota() {
        // Tampilkan area cetak
        var printContent = document.getElementById("nota-detail").innerHTML;

        // Salin ke jendela baru untuk dicetak
        var originalContent = document.body.innerHTML;
        document.body.innerHTML = printContent;
        window.print();

        // Kembalikan halaman asli
        document.body.innerHTML = originalContent;
        location.reload();
    }
</script>
{% endblock %}